#node
*/node_modules
node_modules
*/node_modules/*
**/node_modules/*

#bower
*/bower_components
bower_components
**/bower_components/*
**/bower_components/*

#netbeans
*/netbeans
netbeans
*/netbeans/*
/uebung02-mongo/nbproject/private/
/uebung01-keyvalue/nbproject/private/
/ElasticSearch/nbproject/private/
/NosqlProject/nbproject/private/